/*------------------------------------*\
    # base.globals
\*------------------------------------*/

/**
 * Initialize typomatic in project (sets font-size and line-height
 * on html selector.
 */
html {
    @mixin typomatic-init;
    height: 100%;
}

body {
    height: 100%;
    overflow-x: hidden;


    font-family: $ff-sans;
    color: $color-text;

    background-color: #ffd501;
    background-image: svg-load(../images/bg-worms.svg, stroke=white);
    background-attachment: fixed;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

svg {
    max-width: 100%;
}
