/*------------------------------------*\
    # components.header
\*------------------------------------*/

.logo {
    width: 300px;
    height: 180px;

    margin: 0 auto;
    margin-top: calc($unit * 6); 
    background-image: svg-load(../images/logo.svg);
    background-repeat: no-repeat;
    background-size: 300px 180px;
}
