/*------------------------------------*\
    # components.header
\*------------------------------------*/

.logo {

    margin: 0 auto;
    background-repeat: no-repeat;
    
    &--primary {
        width: 404px;
        height: 126px;
        margin-top: calc($unit * 6); 
        background-size: 404px 126px;
        background-image: svg-load(../images/logo.svg);

    }

    &--secondary {
        display: block;
        width: 48px;
        height: 48px;
        
        background-size: 48px 48px;
        background-image: svg-load(../images/logo-fmos.svg);
    }
}
