/*------------------------------------*\
    # components.hero
\*------------------------------------*/

.hero {
    width: 300px;
    height: 280px;

    margin: 0 auto;
    margin-top: calc($unit * 10); 
    background-image: svg-load(../images/main-visual.svg);
    background-repeat: no-repeat;
    background-size: 300px 280px;
}
