/*------------------------------------*\
    # modules.container
\*------------------------------------*/

 .container {
    margin: 0 auto;
    max-width: 1280px;
    &--sml {
        margin: 0 auto;
        max-width: 450px;
    }

 }
